# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=tablelink
DB_SCHEMA=public
DB_POOL_MAX=20

# Server
SERVER_PORT=3000

# Application
APP_NAME=tablelink-backend
APP_ENV=development
